parameters:


application:
	errorPresenter: Error
	mapping:
		*: FPAIS\*Module\Presenters\*Presenter


session:
	expiration: 14 days

database:
	dsn: "sqlite:%appDir%/data.db"

services:
	router: FPAIS\RouterFactory::createRouter
	trainingManager: FPAIS\Model\Manager\TrainingManager
	placeeeeManager: FPAIS\Model\Manager\PlaceManager
	userrrrrManager: FPAIS\Model\Manager\UserManager
	traincsouingDao: FPAIS\Data\SQLDAO\SQLTrainingDAO
	placeeeeeeeeDao: FPAIS\Data\SQLDAO\SQLPlaceDAO
	userrrrrrrrrDao: FPAIS\Data\SQLDAO\SQLUserDAO
	authenticatorrr: FPAIS\DbAuthenticator
        