parameters:


application:
	errorPresenter: Error
	mapping:
		*: FPAIS\*Module\Presenters\*Presenter


session:
	expiration: 14 days

database:
	dsn: "sqlite:%appDir%/data.db"
	user: ...
	password: ...

services:
	router: FPAIS\RouterFactory::createRouter
	trainingManager: FPAIS\Model\Manager\TrainingManager
	traincsouingDao: FPAIS\Data\SQLDAO\SQLTrainingDAO


