{block content}

{control signInForm}


{form signInForm}
    <div class="form-group" n:foreach="$form->controls as $name => $field">
        {label $name /}
        {input $name}
        <td n:ifcontent>{inputError $name}</td>
    </div>
{/form}

