{block content}

{control newTrainingForm}
<table>
    <thead>
        <tr><th>Jméno trenéra</th><th>min hracu</th><th>max hracu</th></tr>
    </thead><tbody>
        <tr n:foreach="$trainings as $training">
            <td>{$training->getCoach()->getName()}</td>
            <td>{$training->getMinPlayers()}</td>
            <td>{$training->getMaxPlayers()}</td>
        </tr>
    </tbody>
</table>